
body{
	background: #F4A460;
}



.Verde{
	color:green;
}

.Rojo{
	color:red;
}

.Azul{
	color:blue;
}

.Aqua{
	color:aqua;
}

section#main{

	width:1250px;
	
}


section#primero{
	margin:auto;
	width:500px;
	height:400px;
	padding:100;
	background-color:#22BDFF;                   
}


section#segundo{
	margin:auto;
	width:500px;
	height:300px;
	padding:100;
	margin-top:10px;
	background-color:red;
	
}

article#primero{
	margin:9px;
	width:120px;
	height:280px;
	background-color:blue; 
	float:right;
	padding:3px;
}

article#segundo{
	margin:9px;
	width:120px;
	height:280px;
	background-color:#FFD2D2;
	float:left; 
	padding:3px;  
}

article#tercero{
	margin:9px 47px 9px 0px;
	width:120px;
	height:280px;
	background-color:green;
	float:right; 
}




section#cuadro{
	margin:auto;
	width:500px;
	height:300px;
	background-color:#80FFE4; 
	margin-top:10px;
	
}

article#cuarto{
	margin:9px;
	width:120px;
	height:280px;
	background-color:gray; 
	float:right;
	padding:3px;
}

article#quinto{
	margin:9px;
	width:120px;
	height:280px;
	background-color:#45F322;
	float:left; 
	padding:3px;
}


article#sexto{
	margin:9px 47px 9px 0px;
	width:120px;
	height:280px;
	background-color:green;
	float:right; 
}


aside{
	
	width:300px;
	min-height:400px;
	background:blue;
	float:right;


}

section#Ima{
	
	padding-right:10px;
}


#login{
	width:400px;
	height:400px;
	background:green;
	
}
